@use "../../abstracts/index"as *;


.tf-list {
    display: flex;
    align-items: center;
    gap: 20px;

    li {
        display: flex;
    }

    &.vertical {
        display: grid;
    }

    @include res(md) {
        gap: 14px;
    }
}

.tf-page-title {
    padding-top: 32px;
    padding-bottom: 128px;

    &.has-bg-linear {
        background: linear-gradient(to right,
                #C8E6FF 0%,
                #fff 55%,
                #F1DCD7 100%);
    }

    .breadcrumb {
        gap: 10px;
        margin-bottom: 76px;
        align-items: center;

        @include res(lg) {
            margin-bottom: 48px;
        }
    }

    &.single {
        padding-bottom: 32px;

        .breadcrumb {
            margin-bottom: 0;
            gap: 14px;
        }
    }

    &.style-2 {
        position: relative;

        .image {
            position: absolute;
            inset: 0;
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: var(--black_40);
                z-index: 1;
            }
        }
    }

    @include res(xl, min) {
        &.style-2 {
            padding-bottom: 203px;

            .breadcrumb {
                margin-bottom: 151px;
            }
        }
    }

    @include res(lg) {
        padding-bottom: 100px;

        .breadcrumb {
            margin-bottom: 48px;
        }
    }
}

.tf-page-title-2 {
    .content {
        place-items: center;
        text-align: center;
    }

    .breadcrumb {
        margin-bottom: 20px;
    }
}

.tf-page-title-3 {
    position: relative;

    .bg-img-item {
        position: absolute;
        inset: 0;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .breadcrumb {
        margin-bottom: 20px;
        gap: 10px;
    }

    .title-page {
        margin-bottom: 18px;
    }

    @include res(sm) {

        .breadcrumb,
        .title-page {
            margin-bottom: 10px;
        }
    }
}

.list-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    a {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        @include flex(center, center);
        border: 1px solid var(--line);
    }

    &.style-2 {
        a {
            background: #EFEFEF;
        }
    }

    &.style-3 {
        a {
            background: #747474;
            border: 0;
            color: var(--white);
        }
    }

    @include res(xl, min) {
        a {
            width: 47px;
            height: 47px;
        }
    }
}

.tf-hero-banner {
    position: relative;

    .hero-image {
        position: absolute;
        inset: 0;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero-banner_wrap {
        padding-top: 285px;
        padding-bottom: 284px;
        position: relative;
        z-index: 1;
    }

    .hero_desc {
        margin-bottom: 24px;
    }

    @include res(xxl, min) {
        .hero_desc {
            margin-bottom: 48px;
        }

        .btn-action_link {
            min-width: 240px;
        }
    }

    @include res(xxl) {
        .hero-banner_wrap {
            padding-top: 150px;
            padding-bottom: 200px;
        }
    }

    @include res(xxl) {
        .hero-banner_wrap {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    @include res(sm) {
        .hero-image {
            img {
                object-position: left;
            }
        }
    }
}

.sect-heading {
    &.center {
        display: grid;
        place-items: center;
        text-align: center;
    }

    &.style-2 {
        display: flex;
        align-items: end;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .col-right {
            display: flex;
            align-items: center;
            gap: 10px 15px;
            flex-wrap: wrap;
        }
    }

    @include res(xl, min) {
        &.abs-v1 {
            position: absolute;
            top: 32px;
            left: 32px;
            z-index: 2;
        }
    }
}

.sect-heading-v02 {
    .s-title {
        margin-bottom: 24px;
    }

    .s-desc {
        margin-bottom: 40px;
    }

    &.type-space-2 {
        .s-title {
            margin-bottom: 20px;
        }

        .s-desc {
            margin-bottom: 32px;
        }
    }

    @include res(xl) {
        .s-title {
            margin-bottom: 18px;
        }

        .s-desc {
            margin-bottom: 30px;
        }

        &.type-space-2 {
            .s-title {
                margin-bottom: 16px;
            }

            .s-desc {
                margin-bottom: 24px;
            }
        }
    }
}

.sect-heading-space {
    .s-title {
        margin-bottom: 20px;
    }

    .s-desc {
        margin-bottom: 32px;
    }

    @include res(xl) {
        .s-title {
            margin-bottom: 16px;
        }

        .s-desc {
            margin-bottom: 24px;
        }
    }
}

.eyebrow-label {
    padding: 1px;
    background: linear-gradient(360deg, rgba(210, 145, 75, 0.3) 0%, rgba(210, 145, 75, 0.06) 100%);
    border-radius: 17px;
    overflow: hidden;
    display: inline-flex;

    .wrap {
        display: inline-flex;
        align-items: center;
        gap: 15px;
        background: #FFC5A566;
        border-radius: 17px;
        padding: 4px 14px;
    }
}

.solution-banner {
    background: linear-gradient(180deg, rgba(255, 241, 232, 0.8) 0%, rgba(255, 241, 232, 0) 100%);
    border-radius: 40px;
    margin-left: 15px;
    margin-right: 15px;

    .banner-image {
        position: relative;

        .image {
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .bottom {
            position: absolute;
            bottom: 15px;
            right: 15px;
            left: 15px;
            border-radius: 20px;
            background: var(--white);
            padding: 20px 15px;
        }
    }

    .sect-heading,
    .swiper-boxicon {
        margin-bottom: 24px;
    }

    @include res(lg, min) {
        .banner-image {
            max-width: 513px;
        }
    }

    @include res(xl, min) {
        .banner-image {
            .bottom {
                bottom: 24px;
                right: 24px;
                left: 24px;
                padding: 32px 24px;
            }
        }

        .sect-heading,
        .swiper-boxicon {
            margin-bottom: 48px;
        }
    }

    @include res(xxl, min) {
        margin-left: 40px;
        margin-right: 40px;
    }

    @include res(lg) {
        .banner-image {
            img {
                max-height: 400px;
            }
        }
    }
}


.main-image-compare {
    border-radius: 10px;

    .sect-heading {
        position: absolute;
        top: 32px;
        left: 32px;
    }

    .icv__label {
        border-radius: 99px;
        background: var(--white);
        color: var(--main);
        padding: 5px 18px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
    }

    .icv__theme-wrapper {
        width: 2px;
        height: 24px;
        border-radius: 2px;
        background: var(--text);
        display: none;

        .icv__arrow-wrapper {
            display: none;
        }
    }

    .icv__circle {
        backdrop-filter: unset !important;
        background-color: var(--white);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        @include flex(center, center);

        &::before {
            font-family: $fontIcon;
            content: "\e91a";
            line-height: 1;
            font-size: 20px;
            transform: rotate(90deg);
            color: #ABABAB;
        }
    }

    .icv__control-line {
        width: 2px !important;
    }

    @include res(xl, min) {
        .icv__label {
            bottom: 32px;

            &.icv__label-before {
                left: 32px;
            }

            &.icv__label-after {
                right: 32px;
            }
        }
    }

    @include res(md) {
        .img-comp {
            aspect-ratio: calc(700/500);
            object-fit: cover;
        }
    }

    @include res(ssm) {
        .img-comp {
            aspect-ratio: 1;
        }
    }
}

.counter-grid {
    gap: 15px 0px;
    max-width: 918px;
    margin: 0 auto;

    @include res(xl, min) {
        gap: 22px;
    }
}

.section-introduce {
    .content {
        text-align: center;
        max-width: 872px;
        margin: 0 auto;
    }

    .mini-title,
    .title {
        margin-bottom: 24px;
    }

    @include res(xl, min) {

        .mini-title,
        .title {
            margin-bottom: 40px;
        }

        .tf-btn {
            padding-left: 48px;
            padding-right: 48px;
            height: 50px;
        }
    }
}

.section-trending {
    .heading {
        display: grid;
        place-items: center;

        .mini-title {
            margin-bottom: 24px;
        }
    }

    .btn-action_direc {
        @include transition3;
    }

    @include res(xl, min) {
        .group-btn-slider {
            gap: 24px;
        }
    }
}

.banner-v01 {
    // background-image: url("../images/section/banner-1.jpg");
    background-position: center;
    position: relative;

    .banner-image {
        position: absolute;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-content {
        position: relative;
        padding-top: 296px;
        padding-bottom: 296px;
        text-align: center;
    }

    @include res(xl) {
        .banner-content {
            padding-top: 150px;
            padding-bottom: 150px;
        }
    }

    @include res(sm) {
        .banner-content {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
}

.banner-v02 {
    position: relative;


    .banner-image {
        position: absolute;
        inset: 0;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-content {
        position: relative;
        z-index: 1;
    }

    .col-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        .swiper-product {
            max-width: 262px;
        }

        .tf-sw-nav {
            flex-shrink: 0;
        }
    }

    @include res(xl, min) {
        padding-top: 235px;
        padding-bottom: 125px;

        .col-right {
            gap: 20px;
        }
    }

    @include res(md) {
        .col-right {
            justify-content: center;
        }
    }
}

.banner-v03 {
    .banner-image {
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include res(xl, min) {
        .banner-image {
            max-width: 533px;
        }

        .col-right {
            max-width: 530px;
            margin-left: auto;
            margin-right: 50px;
        }
    }
}

.banner-v04 {
    background: #F8F8F8;

    &.style-2 {
        background: transparent;
    }

    @include res(xl, min) {
        .col-left {
            max-width: 618px;
        }

        .btn-action_add {
            min-width: 274px;
        }

        .col-right {
            max-width: 658px;
            margin-left: auto;
        }
    }

    @include res(xxl, min) {
        .col-right {
            position: relative;

            .group-btn {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
            }
        }
    }
}

.banner-v05 {
    background: #374227;

    .banner-image {
        margin-left: auto;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include res(md, min) {
        .sect-heading-v02 {
            max-width: 531px;
            width: 100%;
        }

        .banner-image {
            max-width: 533px;
            width: 100%;
        }
    }

    @include res(md) {
        .banner-image {
            img {
                max-height: 400px;
            }
        }
    }
}

.banner-v06 {
    background-image: url("../images/section/banner-6.jpg");
    background-position: center;

    .banner-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 77px 100px;
        max-width: 729px;
        width: 100%;
        margin: 0 auto;
    }

    @include res(lg) {
        .banner-content {
            gap: 30px 60px;
        }
    }

    @include res(sm) {
        .banner-content {
            gap: 20px 60px;
        }
    }
}

.banner-v07 {


    .banner-image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-content {
        background: #374227;
    }

    .sect-heading-v02 {
        padding: 40px 15px;
    }

    @include res(md, min) {
        display: flex;

        >* {
            width: 50%;
        }

        .sect-heading-v02 {
            padding: 40px;
        }

        .banner-content {
            display: flex;
            align-items: center;
        }
    }

    @include res(lg, min) {
        .sect-heading-v02 {
            padding: 60px;
        }
    }

    @include res(xxl, min) {
        .sect-heading-v02 {
            padding-left: 164px;
            padding-right: 30px;
        }
    }

    @include res(sm) {
        .banner-image {
            img {
                min-height: 350px;
            }
        }
    }
}

.banner-v08 {
    position: relative;

    .bn-image {
        border-radius: 20px;
        overflow: hidden;
    }

    .bn-content {
        // position: absolute;
        // inset: 20px;
        z-index: 1;
        @include flex(center, center);

        .wrap-content {
            padding: 31px;
            display: grid;
            place-items: center;
            text-align: center;
            max-width: 503px;
            background: var(--black_20);
            border: 1px solid var(--white_20);
            backdrop-filter: blur(20px);
            border-radius: 20px;
            gap: 20px;


        }
    }

    &.style-2 {
        .bn-image {
            border-radius: 10px 10px 0px 0px;
        }

        .bn-content {
            .wrap-content {
                max-width: 580px;
            }
        }
    }

    @include res(xl, min) {

        .bn-content {
            position: absolute;
            inset: 20px;
        }

        .desc {
            margin-bottom: 20px;
        }
    }

    @include res(xl) {
        padding: 20px;

        .bn-image {
            position: absolute;
            inset: 0;
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .bn-content {
            .wrap-content {
                padding: 20px;
            }
        }
    }
}

.banner-v09 {
    position: relative;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    .bn-image {
        position: relative;
        z-index: 0;
        // position: absolute;
        // inset: 0;
        // z-index: 0;
        // display: flex;

        // img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        // }
    }

    .bn-content {
        // position: relative;
        // z-index: 1;
        position: absolute;
        inset: 0;
        z-index: 1;
        display: flex;
        align-items: center;

        .wrap {
            max-width: 518px;
        }
    }
}

.infiniteSlide-brand {
    .infiniteSlide-item {
        margin-left: 20px;
        margin-right: 20px;
    }

    @include res(lg, min) {
        .infiniteSlide-item {
            margin-left: 40px;
            margin-right: 40px;
        }
    }

    @include res(xxl, min) {
        .infiniteSlide-item {
            margin-left: 60px;
            margin-right: 60px;
        }
    }

    @include res(md) {
        .brand-image {
            img {
                height: 30px;
                width: auto;
            }
        }
    }
}

.infiniteSlide-brand-2 {
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, black 5%, black 95%, transparent 100%);
    -webkit-mask-mode: alpha;
    -webkit-mask-repeat: no-repeat;
    mask-image: linear-gradient(90deg, transparent 0%, black 5%, black 95%, transparent 100%);
    mask-mode: alpha;
    mask-repeat: no-repeat;

    .infiniteSlide-item {
        max-width: 262px;
        width: 100%;
        margin-left: 8px;
        margin-right: 8px;
    }

    .brand-image {
        height: 100px;
        @include flex(center, center);
        border: 1px solid var(--line);
        border-radius: 6px;

        &:hover {
            border-color: var(--main);
        }
    }

    @include res(xl) {

        .brand-image {
            height: 80px;
        }

        .infiniteSlide-item {
            max-width: 200px;
        }
    }
}

.section-tab-collection {
    background: var(--bg-8);

    .cls-image {
        border-radius: 10px;
        overflow: hidden;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include res(md, min) {
        .cls-image {
            max-width: 312px;
        }
    }
}

.section-banner-lookbook {
    .wrap-main {
        background: #FBFBFB;
        border-radius: 10px;
        overflow: hidden;
    }

    // .group-nav-slider {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     gap: 12px;

    //     .tf-swiper {
    //         max-width: 311px;
    //         width: 100%;
    //     }

    //     .tf-sw-nav {
    //         flex-shrink: 0;
    //     }
    // }

    .banner-lookbook {
        height: 100%;
    }

    .img-banner {
        border-radius: 0px;
    }

    .col-right {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 15px;
        padding-left: 15px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }

    .tf-btn-swiper-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100%;
    }

    @include res(md, min) {
        .group-nav-slider {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;

            .tf-swiper {
                max-width: 339px;
                width: 100%;
            }

            .tf-sw-nav {
                flex-shrink: 0;
            }
        }

        .tf-btn-swiper-main {
            max-width: 527px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include res(lg, min) {
        .wrap-main {
            display: flex;

            >* {
                width: 50%;
            }
        }
    }

    @include res(xl, min) {
        .sw-dot-default {
            margin-top: 32px;
        }
    }

    @include res(md) {
        .group-nav-slider {
            .tf-sw-nav {
                display: none;
            }
        }
    }
}

.banner-countdown-v01 {
    display: flex;
    gap: 30px 15px;
    align-items: center;
    justify-content: space-between;
    padding: 40px 15px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    .bg-img-item {
        position: absolute;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-content {
        text-align: center;
        max-width: 319px;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .text-top {
        margin-bottom: 16px;
    }

    .title {
        font-size: clamp(24px, 2.8vw, 32px);
        line-height: clamp(28px, 3.5vw, 42px);
        margin-bottom: 12px;
    }

    .sub-title {
        margin-bottom: 25px;
    }

    @include res(md, min) {

        .countdown-02 {
            max-width: 340px;
            width: 100%;
        }
    }

    @include res(xl, min) {
        padding: 60px;
        // gap: 60px;

        .sub-title {
            margin-bottom: 40px;
        }
    }

    @include res(xxl, min) {
        padding: 70px 82px 71px 67px;
    }

    @include res(md) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.section-contact {
    .col-left {

        .title,
        .desc,
        .store-infor-list {
            margin-bottom: 24px;
        }
    }

    @include res(xl, min) {
        .col-left {
            .store-infor-list {
                margin-bottom: 32px;
            }
        }
    }
}

.store-infor-list {
    display: grid;
    gap: 20px;

    .infor-item {
        display: grid;
        place-items: start;
        gap: 10px;
    }
}

.section-map {
    .content {
        border-radius: 10px;
        overflow: hidden;
        display: flex;
    }
}

.section-intro-about {
    .title {
        margin-bottom: 20px;
    }

    .image {
        border-radius: 16px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 350px;
        }
    }

    .swiper-counter {
        max-width: 1240px;
    }

    @include res(xl, min) {
        .title {
            margin-bottom: 24px;
        }
    }
}

.section-our {
    .col-left {
        padding-right: 126px;
        padding-bottom: 86px;
        position: relative;

        .image {
            border-radius: 16px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.image-2 {
                position: absolute;
                bottom: 0;
                right: 0;

                @include res(sm, min) {
                    max-width: 270px;
                }
            }
        }
    }

    @include res(md, min) {
        .col-left {
            max-width: 593px;
            width: 100%;
        }
    }

    @include res(xl, min) {
        .col-left {
            margin-right: -15px;
        }

        .col-right {
            max-width: 645px;
            margin-left: auto;
        }
    }

    @include res(lg) {
        .col-left {
            padding-right: 50px;
            padding-bottom: 30px;
        }
    }

    @include res(sm) {
        .col-left {
            .image {
                &.image-2 {
                    left: 55%;
                }
            }
        }
    }
}

.section-faq {
    .col-contact {
        padding: 20px;
        border-radius: 10px;
        background: var(--bg-11);

        .title {
            margin-bottom: 29px;
        }

        .sub {
            margin-bottom: 30px;

            @include res(xl, min) {
                margin-bottom: 44px;
            }
        }

        @include res(xl, min) {
            padding: 32px;
        }
    }

    .faq-item {
        &:not(:last-child) {
            margin-bottom: 64px;

            @include res(xl) {
                margin-bottom: 48px !important;
            }

            @include res(lg) {
                margin-bottom: 30px !important;
            }
        }
    }

    .name-faq {
        margin-bottom: 24px;
        text-align: center;
    }

    .faq-list {
        max-width: 800px;
        margin-left: auto;
    }
}

.section-term-user {
    .content {
        display: grid;
        gap: 48px;
    }

    .term-title {
        margin-bottom: 15px;
    }

    .text-wrap {
        display: grid;
        gap: 16px;
    }
}

.section-customer-review {
    position: relative;
    z-index: 1;

    .rating-progress-list {
        display: grid;
        gap: 6px;
    }

    .rate-progress-star {
        display: flex;
        align-items: center;
        gap: 10px;

        .number-star {
            min-width: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--main);

            .icon {
                font-size: 15px;
                color: #E69600;
            }
        }

        .number-percent {
            min-width: 12px;
            text-align: center;
            color: var(--main);
        }

        .progress {
            width: 100%;
            --bs-progress-height: 4px;
            background: var(--line);
            border-radius: 0px;

            .progress-bar {
                background-color: var(--main);
            }
        }
    }

    .content {
        padding: 20px;
        border: 1px solid var(--line);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 30px;


    }

    .col-left {

        .title,
        .rating-progress-list {
            margin-bottom: 24px;
        }

        .rating-ratio {
            display: flex;
            justify-content: space-between;
            color: var(--main);
        }
    }

    .col-right {
        >.br-line {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    .comment-list {
        display: grid;
        gap: 24px;
    }

    .comment-item {
        display: flex;
        align-items: start;
        gap: 15px;

        .comment_image {
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 0;
        }

        .author-infor {
            display: flex;
            align-items: center;
            gap: 10px;

            .br-line {
                height: 14px;
            }
        }

        .comment_content {
            display: grid;
            gap: 15px;
        }
    }

    .box-review {
        display: grid;
        gap: 24px;

        .your-rate {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    @include res(md, min) {
        .content {
            .col-left {
                max-width: 289px;
            }

            .col-right {
                max-width: 831px;
            }
        }
    }

    @include res(xl, min) {
        .col-right {
            >.br-line {
                margin-top: 48px;
                margin-bottom: 48px;
            }
        }

        .content {
            padding: 41px;
        }

        .col-left {

            .title,
            .rating-progress-list {
                margin-bottom: 40px;
            }
        }
    }

    @include res(md) {
        .content {
            flex-wrap: wrap;

            >* {
                width: 100%;
            }
        }
    }
}

.lookbook-showcase {
    @include res(md, min) {
        display: flex;
        gap: 14px;

        >* {
            width: calc(50% - calc(14/2)*1px);
        }

        .banner-lookbook {
            height: 100%;
        }

        .col-right {
            max-width: 593px;
            margin-left: auto;
        }

        .card-product {
            .card-product_wrapper {
                aspect-ratio: calc(289/338);
            }
        }
    }

    @include res(md) {
        .col-left {
            margin-bottom: 30px;
        }
    }
}

.section-exclusive {
    @include res(lg, min) {
        .btn-action_link {
            min-width: 283px;
        }
    }
}

.section-split {
    .col-media {
        .image {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @include res(md, min) {
        display: flex;

        >* {
            width: 50%;
        }
    }
}

.section-exlore-accordion {
    .col-main {
        background: #374227;
        display: flex;
        align-items: center;
    }

    .sect-content {

        padding: 0px 15px;
    }

    @include res(md, min) {
        .sect-content {
            margin: 0 auto;
            max-width: 551px;
            width: 100%;
        }
    }
}

.section-intro-feature {
    .content {
        display: grid;
        place-items: center;
        text-align: center;
    }

    .title {
        margin-bottom: 20px;
    }
}

.section-hero-image {
    background-position: center;
}


.banner-countdown-v02 {
    position: relative;

    @include res(md, min) {
        .col-left {
            max-width: 401px;
            width: 100%;
        }

        .col-right {
            max-width: 415px;
            width: 100%;
            margin-left: auto;
        }
    }
}

.section-tesimonial-thumb {
    .col-left {
        max-width: 614px;
        width: 100%;
    }

    .sw-thumbs_main {
        margin-bottom: 26px;
    }

    @include res(xl, min) {
        .sw-thumbs_main {
            margin-bottom: 42px;
        }
    }
}

.section-hero-v1 {
    background: #DBE5EF;
    padding-top: 40px;
}

.banner-countdown-v03 {
    position: relative;
    padding: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .bn-image {
        position: absolute;
        inset: 0;
        border-radius: 10px;
        overflow: hidden;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .col-left,
    .col-right {
        position: relative;
        z-index: 1;
    }

    @include res(xl, min) {
        .col-right {
            max-width: 415px;
            width: 100%;
        }
    }

    @include res(xl) {
        >* {
            &:not(.bn-image) {
                width: 33%;
            }
        }
    }

    @include res(lg) {
        flex-wrap: wrap;
        gap: 30px;
        padding-left: 15px;
        padding-right: 15px;

        >* {
            &:not(.bn-image) {
                width: 100%;
            }
        }
    }
}

.banner-countdown-v04 {
    position: relative;

    .bn-image {
        border-radius: 10px;
        overflow: hidden;
    }

    .bn-content {
        padding: 79px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;

        .head {
            display: grid;
            gap: 20px;
            place-items: center;
            text-align: center;
        }
    }

    .countdown-v03 {
        width: 100%;

        .js-countdown {
            max-width: 347px;
            margin: 0 auto;
        }
    }

    @include res(lg, min) {
        .bn-content {
            position: absolute;
            inset: 0;
        }
    }

    @include res(lg) {

        .bn-image {
            position: absolute;
            inset: 0;
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .bn-content {
            position: relative;
            z-index: 1;
            padding: 60px 15px;
            gap: 30px;

            .head {
                gap: 10px;
            }
        }
    }
}

.section-faq-2 {
    @include res(lg, min) {
        .col-right {
            max-width: 852px;
            width: 100%;
            margin-left: auto;
        }
    }

}

.section-testimonial {
    &.has-bg {
        position: relative;
    }
}

.set-bg-img {
    position: absolute;
    inset: 0;
    z-index: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.section-product-banner {


    .collection-v09 {
        height: 100%;
    }

    @include res(md, min) {
        .content {
            display: flex;
            justify-content: space-between;

            .col-left {
                width: calc(50% - 8px);
            }

            .col-right {
                width: calc(50% - 8px);
            }
        }

    }

    @include res(lg, min) {
        .content {
            .col-left {
                width: calc(538/1370 * 100%);
            }

            .col-right {
                width: calc(calc(1370 - 538 - 19)/1370 * 100%);
            }
        }
    }

    @include res(xl, min) {
        .card-product {
            .card-product_info {
                gap: 15px;
            }
        }
    }

    @include res(md) {
        .collection-v09 {
            margin-bottom: 30px;

            img {
                max-height: 350px;
            }
        }
    }
}

.banner-hero {
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    .hero-image {
        position: relative;
        z-index: 1;
    }

    .content-wrap {
        // position: absolute;
        // inset: 0;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    .hero-content {
        .number-view {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .head {
            display: grid;
            gap: 10px;
            margin-bottom: 32px;
        }
    }

    @include res(lg, min) {
        .content-wrap {
            position: absolute;
            inset: 0;
        }
    }

    @include res(xl, min) {
        .hero-content {
            .head {
                display: grid;
                gap: 20px;
                margin-bottom: 40px;
            }
        }
    }

    @include res(lg) {
        padding-top: 40px;
        padding-bottom: 40px;

        .hero-image {
            position: absolute;
            inset: 0;
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hero-content {
            position: relative;
            z-index: 3;
        }
    }
}

.section-product-single-v2 {
    @include res(xxl, min) {
        .tf-product-total-quantity {
            margin-top: 44px !important;
        }
    }
}

.section-product-single-v3 {
    .tf-product-media-wrap {
        max-width: unset;

    }

    .tf-product-info-heading {

        .product-infor-price {
            margin-bottom: 0;
        }

        .tf-product-description {
            margin-bottom: 20px;
        }
    }

    .tf-product-benefit,
    .tf-product-volume-discount {
        margin-bottom: 24px;

    }

    .tf-product-info-wrap .tf-product-info-list .tf-product-variant {
        margin-bottom: 32px;
    }

    .tf-product-total-quantity {
        margin: 0 !important;
    }

    .product-thumbs-slider .tf-product-media-main .item {
        aspect-ratio: 1;
    }

    .tf-product-media-thumbs .swiper-slide .item {
        aspect-ratio: 1;
    }

    @include res(xl, min) {

        .tf-product-benefit,
        .tf-product-volume-discount {
            margin-bottom: 48px;
        }

        .tf-product-info-heading {
            margin-bottom: 32px;
        }

        .tf-product-info-wrap {
            max-width: 636px;
        }
    }
}

.benefit-list {
    display: grid;
    gap: 15px;

    .benefit-item {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--main);

        .icon {
            font-size: 18px;
            color: #172B85;
        }
    }
}

.banner-build {
    display: flex;
    // align-items: center;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    gap: 30px;

    .build-infor {
        display: grid;
        place-items: center;
        text-align: center;
        max-width: 320px;

        .build_icon {
            display: flex;
            margin-bottom: 24px;

            .icon {
                font-size: 40px;
                color: var(--text-19);
            }
        }

        .build_name {
            margin-bottom: 16px;
        }
    }

    .col-left,
    .col-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    @include res(xl, min) {

        .col-left,
        .col-right {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    @include res(xxl, min) {

        .col-left,
        .col-right {
            padding-top: 51px;
            padding-bottom: 81px;
        }
    }

    @include res(lg) {
        gap: 20px;
        flex-wrap: wrap;

        .build-image {
            order: 0;
            width: 100%;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-width: 536px;
                margin: 0 auto;
                display: flex;
            }
        }

        .col-left,
        .col-right {
            order: 1;
            flex-direction: row;
            width: 100%;
            gap: 20px;
            flex-wrap: wrap;
        }

        .build-infor {
            width: calc(50% - 10px);


            .build_desc {
                -webkit-line-clamp: 3 !important;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
            }
        }
    }

    @include res(ssm) {
        .build-infor {
            width: 100%;
            max-width: unset;

            .build_icon {
                margin-bottom: 16px;
            }
        }
    }
}

.section-expectations {}

.benefits-stats {
    .stat-item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--line);

    }

    .stat-number {
        color: #172B85;
        min-width: 80px;
    }

    @include res(lg, min) {
        .stat-number {
            min-width: 130px;
        }
    }

    @include res(xl, min) {
        .stat-item {
            gap: 32px;
            padding-top: 28px;
            padding-bottom: 27px;
        }
    }

    @include res(xxl, min) {
        max-width: 647px;
        width: 100%;
        margin-left: auto;
    }
}

.section-exclusive {
    .wrap-header {
        position: sticky;
        top: 30%;
    }

    .exclusive-image {
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.s1 {
            max-width: 343px;
        }

        &.s2 {
            max-width: 353px;
            margin-top: 117px;
            margin-left: auto;
        }

        &.s3 {
            max-width: 273px;
            margin-top: 252px;
            margin-left: auto;
            margin-right: auto;
        }

        &.s4 {
            max-width: 296px;
            margin-top: 328px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}