@use "../../abstracts/index"as *;

.flat-animate-tab {
    overflow: hidden;

    .tab-content {
        position: relative;
    }

    .tab-pane {
        display: block;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        transition-timing-function: ease-in;
        transition-duration: 0.2s;

        &.active {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 2;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            transition-timing-function: ease-out;
            transition-duration: 0.3s;
            transition-delay: 0.3s;
        }
    }

    &.fade-to-right {
        .tab-pane {
            &:not(.active) {
                -webkit-transform: translateX(30px);
                -ms-transform: translateX(30px);
                transform: translateX(30px);
            }
        }
    }
}

.flat-animate-tab-2 {
    overflow: hidden;

    .tab-content {
        position: relative;
    }

    .tab-pane {
        display: block;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        transition-timing-function: ease-in;
        transition-duration: 0.2s;

        &.active {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 2;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            transition-timing-function: ease-out;
            transition-duration: 0.3s;
            transition-delay: 0.3s;
        }
    }
}


.list-tab-btn-v1 {

    .tf-btn-tab {
        padding: 32px 24px;
        width: 100%;
        position: relative;

        .text {
            @include transition3;
        }

        .text-2 {
            position: absolute;
            @include hidden;
            @include transition3;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: linear-gradient(90deg, #26EDFF, #FFD651, #26EDFF);
            background-size: 200% 100%;
            animation: gradientFlow 2s linear infinite;
            @include hidden;
            @include transition3;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: var(--white_30);
            @include transition3;
        }

        &:hover,
        &.active {
            .text {
                @include hidden;
            }

            .text-2 {
                @include visible;
            }

            &::before {
                @include visible;
            }

            &::after {
                @include hidden;
            }
        }
    }

    @include res(sm, min) {
        gap: 22px;
    }

    @include res(xl) {
        display: flex;
        overflow: auto;
        text-wrap: nowrap;

        .tf-btn-tab {
            padding: 10px;
        }
    }
}


.accordion-item-v4 {
    --radius: 10px;
    border-radius: var(--radius);
    background: var(--black);
    position: relative;
    padding-left: 16px;
    padding-right: 16px;

    &::before {
        content: "";
        position: absolute;
        inset: -1px;
        background: linear-gradient(90deg, #26EDFF, #FFD651, #26EDFF);
        background-size: 200% 100%;
        animation: gradientFlow 2s linear infinite;
        z-index: -1;
        border-radius: var(--radius);
    }

    .accordion-action {
        .ic-ar {
            font-size: 24px;
        }
    }

    .accordion-content {
        padding-bottom: 16px;
    }

    @include res(lg, min) {
        padding-left: 30px;
        padding-right: 30px;
        --radius: 20px;

        .accordion-action {
            padding-top: 30px;

            &.collapsed {
                padding-bottom: 30px;
            }

            &:not(.collapsed) {}
        }

        .accordion-content {
            padding-bottom: 30px;
        }
    }
}