@use "../../abstracts/index"as *;

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base,
.noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.noUi-connects {
    overflow: hidden;
    z-index: 0;
}

.noUi-connect,
.noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
    left: auto;
    right: 0;
}

.noUi-vertical .noUi-origin {
    width: 0;
}

.noUi-horizontal .noUi-origin {
    height: 0;
}

.noUi-handle {
    position: absolute;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

.noUi-horizontal {
    height: 18px;
}

.noUi-horizontal .noUi-handle {
    top: -4px;
}

.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    top: -17px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    // right: -17px;
    // left: auto;
}

.noUi-draggable {
    cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: ns-resize;
}

.noUi-handle:after {
    // left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
    // width: 14px;
    // height: 1px;
    // left: 6px;
    // top: 14px;
}

.noUi-vertical .noUi-handle:after {
    top: 17px;
}

[disabled] .noUi-connect {
    background: #b8b8b8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
    cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-pips {
    position: absolute;
    color: #999;
}

.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}

.noUi-marker {
    position: absolute;
    background: #ccc;
}

.noUi-marker-sub {
    background: #aaa;
}

.noUi-marker-large {
    background: #aaa;
}

.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
}

.noUi-value-horizontal {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
}

.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}

.noUi-value-vertical {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%, 0);
    padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
}

.noUi-horizontal {
    height: 3px;
}

.noUi-target {
    border: 0;
}

.noUi-base {
    .noUi-connects {
        border-radius: 999px;
        background-color: var(--black_20);
    }
}

.noUi-connect {
    background-color: var(--black);
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    // border: 1px solid var(--black);
    background-color: var(--black);
    box-shadow: unset;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200%;
        width: 200%;
    }

    &.noUi-handle-lower {
        left: 100%;
    }

    &.noUi-handle-upper {
        right: 0;
    }
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    // right: -6px;
}

.tf-btn-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 12px 31px;
    border-radius: 6px;
    border: 1px solid var(--line);
    color: var(--main);

    &.is-btn {
        padding: 0;
        border: 0;
        gap: 10px;

        .icon {
            font-size: 24px;
        }
    }

    @include res(md) {
        padding: 8px 20px;
    }
}

.tf-shop-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px 8px;
    margin-top: -8px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 8px;
    background: var(--white);


    &.control-dropdown {
        padding: 0;
        margin: 0;
        margin-bottom: 24px;
    }

    .tf-control-sorting {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }


    .col-left,
    .col-right {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 20px 12px;

        @include res(xxl, min) {
            gap: 34px;
        }
    }

    .col-right {
        justify-content: flex-end;
    }

    @include res(xl, min) {
        &.side {
            max-width: 976px;
            width: 100%;
        }
    }

    @include res(md) {
        flex-wrap: wrap;
        gap: 12px;

        .col-left,
        .col-right {
            width: 100%;
            flex: unset;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 12px;
        }
    }

    // @include res(sm) {

    //     .col-left,
    //     .col-right {
    //         width: 100%;
    //         // flex: unset;
    //     }
    // }
}


.tf-control-layout {
    display: flex;
    align-items: center;
    gap: 12px;

    .tf-view-layout-switch {
        display: flex;
        cursor: pointer;
        color: var(--text-3);
        @include transition3;
        font-size: 20px;

        &:hover,
        &.active {
            color: var(--main);
        }
    }

    @include res(xxl, min) {
        gap: 24px;
    }
}

.tf-view-layout-switch {
    @include res(sm) {
        font-size: 14px;
    }
}

.wrapper-shop {
    transition: all 0.3s ease-in-out;
    animation: fadeShop 0.5s ease-in-out;
    column-gap: 15px;
    row-gap: 32px;

    @include res(xxl, min) {
        row-gap: 64px;
    }
}

.wrapper-control-shop {

    position: relative;

    &.loading-shop {
        min-height: calc(100vh - 40%);

        * {
            display: none !important;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            width: 30px;
            height: 30px;
            border: 2px solid transparent;
            border-top: 2px solid var(--black);
            border-right: 2px solid var(--black);
            border-radius: 50%;
            animation: spin 0.5s linear infinite;
            z-index: 10000;

        }
    }

    @include res(xl, min) {
        .tf-grid-layout {
            .wg-pagination {
                margin-top: 16px;
                gap: 40px 20px;
            }
        }
    }
}

@keyframes fadeShop {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.listLayout-wrapper {
    #product-count-grid {
        display: none;
    }

    #product-count-list {
        display: block;
    }
}

.widget-facet {
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 24px;

    .facet-title {
        @include flex(center, space-between);
        margin-bottom: 20px;
        @include transition3;
        color: var(--main);

        .icon {
            transform: rotate(0deg);
            @include transition3;
        }

        &.collapsed {
            margin-bottom: 0px;

            .icon {
                transform: rotate(180deg);
            }
        }
    }

    &:not(:last-child) {
        padding-bottom: 23px;
        border-bottom: 1px solid var(--line);
    }
}


.filter-group-check {

    .list-item {
        display: flex;
        gap: 8px;
        align-items: center;
        color: var(--main);

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:has(.label.disabled) {
            pointer-events: none;

            .label {
                opacity: 0.2;
            }
        }

        input:checked+label {
            text-decoration-color: var(--main);
        }
    }

    .label {
        cursor: pointer;
        @include transition3;
        text-decoration: underline;
        text-decoration-color: transparent;
    }
}

.filter-size-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    .size-item {
        width: 40px;
        height: 40px;
        @include flex(center, center);
        border: 1px solid var(--line);
        background-color: var(--white);
        cursor: pointer;
        @include transition3;
        position: relative;
        border-radius: 50%;
        color: var(--text);

        &.active,
        &:hover {
            background-color: var(--black);
            color: var(--white);
        }

        &.disabled {
            color: var(--black-4);
            pointer-events: none;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: calc(40px * 1.4142 - 3px);
                height: 1px;
                background-color: var(--black-4);
                transform: rotate(45deg);
                transform-origin: top left;
            }
        }

        &.over-size {
            width: 120px;
            border-radius: 999px;
        }
    }

    @include res(xl, min) {
        .size-item {
            width: 56px;
            height: 56px;
        }
    }
}

.filter-color-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .color-item {
        width: 32px;
        height: 32px;
        display: block;
        border-radius: 50%;
        border: 1px solid var(--line);
        overflow: hidden;
        @include transition3;
        background-color: var(--white);
        cursor: pointer;
        padding: 4px;
        @include transition3;

        .color {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
        }

        &.active {
            border-color: var(--dark) !important;
        }
    }

    .color-text {
        display: none;
    }

    @include res(xl, min) {
        .color-item {
            width: 40px;
            height: 40px;
        }
    }
}

.meta-filter-shop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 24px;

    #product-count-grid {
        display: block;
    }

    #product-count-list {
        display: none;
    }

    #applied-filters {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px;
    }

    .filter-tag {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        gap: 10px;
        padding: 7px 14px;
        border-radius: 4px;
        @include transition3;
        cursor: pointer;
        // font-weight: 400;
        border: 1px solid var(--line);
        color: var(--text-4);

        &:hover {
            background: var(--line);
        }
    }

    &.type-drop {
        margin-bottom: 20px;
    }

    @include res(xl, min) {
        gap: 24px;
    }
}

.overlay-filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    @include transition3;
    cursor: url(../images/cursor-close.svg), auto;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &.type-drawer {
        @include res(xl, min) {
            display: none;
        }
    }
}

.filter-price {
    display: grid;
    gap: 20px;

    .price-val-range {
        padding: 0px 6px;
        margin: 4.5px 0px;
    }

    .price-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        .br-line {
            width: 20px;
        }

        @include res(xxl, min) {
            gap: 42px;
        }
    }

    .price-val {
        position: relative;

        &::before {
            content: attr(data-currency);
        }
    }

    .price-val_wrap {
        padding: 7px 9px;
        border: 1px solid var(--line);
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--main);
    }

    .box-wrap {
        display: grid;
        gap: 4px;
        flex: 1;
        // min-width: 80px;

        @include res(xl, min) {
            // min-width: 120px;
        }
    }
}

.tf-list-layout {
    display: grid;
    gap: 24px;

    @include res(xl, min) {
        gap: 48px;
    }
}

.filter-drawer-wrap {

    @include res(xl, min) {
        &.canvas-filter {
            max-width: 100% !important;
            width: 100% !important;
        }

        position: absolute;
        z-index: 90;
        padding: 28px;
        top: 100%;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        .tf-group-filter {
            display: flex;
            flex-direction: column;
            gap: 28px;
        }


        .collapse-body {
            padding-bottom: 0 !important;
        }

        .widget-facet {
            margin-bottom: 0 !important;
            padding: 0;
            border: 0;
        }

        .facet-title {
            padding: 0px;
            margin-bottom: 24px;
        }

        .filter-color-box {
            padding-right: 0;
        }

        .price-box {
            gap: 12px;
        }

        .canvas-body {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            overflow-y: unset;
            gap: 20px;

            >.br-line {
                display: none;
            }
        }

        &.show {
            margin-top: 10px;
            opacity: 1;
            visibility: visible;
        }
    }
}

.wrapper-filter-dropdown {
    @include res(xl, min) {
        position: relative;
    }
}


.group-check-color {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
}

.field-color {
    @include flex(center, center);
    border: 1px solid var(--line);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    @include transition3;

    input,
    .color-text {
        display: none;
    }

    .color {
        display: flex;
        position: absolute;
        inset: 0;
        border-radius: 50%;
        @include transition3;
        cursor: pointer;
    }

    input {
        &:checked~label.color {
            inset: 5px;
        }
    }

    &:has(input:checked) {
        border-color: var(--black);
        padding: 5px;
    }
}

.group-onsale {
    display: grid;
    gap: 20px;
}

.onsale-item {
    display: flex;
    gap: 16px;

    .image {
        border-radius: 4px;
        overflow: hidden;
        max-width: 85px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: calc(85/100);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    @include res(xl, min) {
        gap: 20px;
    }
}

.tf-pagination-shop {
    display: flex;
    align-items: center;
    gap: 8px;

    .pagination-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--line-2);
        @include flex(center, center);
        font-weight: 500;

        &:hover {
            border-color: var(--main);
        }

        &.active {
            border-color: var(--main);
            background: var(--main);
            color: var(--white);
        }
    }

    @include res(xxl, min) {
        gap: 10px;
        margin-top: 20px;

        .pagination-item {
            width: 44px;
            height: 44px;
        }
    }
}

.tf-filter-dropdown {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px 24px;
    padding-bottom: 31px;
    border-bottom: 1px solid var(--line);
    margin-bottom: 32px;
}

.meta-dropdown-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.dropdown-filter {
    .dropdown-toggle {
        min-width: 80px;
        border-radius: 6px;
        padding: 7px 14px;
        border: 1px solid var(--line);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        @include transition3;
        color: var(--main);

        &::after {
            display: none;
        }

        &.show {
            .icon {
                transform: rotate(180deg);
            }
        }

        &:hover {
            border-color: var(--text);
        }
    }

    .icon {
        display: inline-block;
        @include transition3;
    }

    .text-value {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        // font-weight: 500;
    }

    .dropdown-menu {
        margin-top: -2px !important;
        min-width: 238px;
        box-shadow: var(--shadow-1);
        border: 1px solid var(--line);
        border-radius: 8px;
        padding: 15px 10px;
        max-height: 68vh;
        isolation: isolate;
        overscroll-behavior-y: contain;
        overflow-y: auto;
        z-index: 99;
        box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.1);

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--line);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--primary);
            border-radius: 4px;
        }


        &.drop-menu-brand {
            max-height: 180px;
        }
    }

    .filter-color-box,
    .filter-size-box {
        gap: 8px;
    }

    @include res(xl, min) {
        .dropdown-menu {
            min-width: 240px;
            padding: 25px 15px;
        }

        .dropdown-toggle {
            padding: 12px 31px;
        }
    }
}

.cls-grid_layout {
    gap: 15px;

    .tf-pagination-shop {
        margin-top: 15px;
    }

    @include res(xl, min) {
        .tf-pagination-shop {
            margin-top: 35px;
        }
    }

    @include res(xxl, min) {
        .tf-pagination-shop {
            margin-top: 65px;
        }
    }
}

.section-shop-sidebar {
    @include res(xxl, min) {
        &:not(.drawer) {
            .col-product {
                max-width: 974px;
                width: 100%;
            }

            .col-filter {
                margin-right: -20px;

                &.right {
                    margin-right: 0;
                    margin-left: -20px;
                }
            }
        }
    }
}

.count-text {
    color: var(--main);
}